nav {
  background: rgba(113, 142, 116, 0.2);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  border-radius: 60px;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  backdrop-filter: blur(20px);
}

nav a {
  background: transparent;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1rem;
}

nav a:hover {
  background: rgba(41, 53, 43, 0.2);
}

nav a.active {
  background: var(--color-bg);
  color: var(--color-light);
}
